.container {
  display: flex;
  justify-content: center;
  margin: 2rem;
  height: 100vh;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spacer {
  height: 1.2rem;
  width: .9rem;
}

.dog {
  height: 20vh;
}

.already-registered-text {
  color: white;
}

