{{define "base"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Strength Gadget</title>
    <base href="/" />
	<meta name="description" content="Strength Gadget is a free workout tool to make you stronger">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico" />
    <script src="https://unpkg.com/htmx.org@2.0.0" 
            integrity="sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw" 
            crossorigin="anonymous">
    </script>
    <script src="https://unpkg.com/hyperscript.org@0.9.12"
            integrity="sha384-+Uth1QzYJsTjnS5SXVN3fFO4I32Y571xIuv53WJ2SA7y5/36tKU1VCutONAmg5eH" 
            crossorigin="anonymous">
    </script>
    <script>
        document.addEventListener('htmx:sendError', function(event) {
            alert('Unexpected error, please try again.');
        });

        document.addEventListener('htmx:responseError', function(event) {
            alert('Unexpected error, please try again.');
        });
    </script>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            background-color: #36393F;
        }

        h1 {
            color: #fa16b2;
        }

        h2 {
            color: #b4b4b4;
        }

        .no-select {
            user-select: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
        }
    </style>
    {{template "styles" .}}
  </head>
  <body>
      </button>
    {{template "content" .}}
  </body>
</html>
{{end}}
