.container {
  display: flex;
  justify-content: center;
  color: white;
}


.buttons {
  display: flex;
  justify-content: space-between;
  margin: .5rem;
}

.spacer {
  width: 1rem;
}

.workout-complete-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15vh;
  scale: 2;
}
