/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: #36393F;
}

h1 {
  color: #fa16b2;
}

h2 {
  color: #b4b4b4;
}

.no-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
