.version-tag {
  display: flex;
  justify-content: flex-end;
  color: #727272;
}

.container {
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.buttons {
  display: flex;
}

.spacer {
  margin: .5rem;
}

.logo {
  scale: .8;
}

.header {
  text-align: center;
  color: #fa16b2;
  font-size: 4rem;
  font-weight: bold;
}
