@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes reverse-spin {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.spinning-cog {
  scale: 1.5;
  transform-origin: 50% 50%;
}

.spinning-cog-top {
  animation: reverse-spin 2s linear infinite;
}

.spinning-cog-left {
  animation: spin 2s linear infinite;
}

.spinning-cog-right {
  animation: spin 2s linear infinite;
}