.button {
  border: 0;
  border-radius: 2rem;
  padding: 1.1rem;
  font-weight: bold;
  font-size: 1rem;
  min-width: 6rem;
  min-height: 3rem;
  position: relative;
  cursor: pointer;
}


.primary {
  background-color: purple;
  color: #e0e0e0;
  &:hover {
    opacity: 75%;
  }
}

.secondary {
  background-color: pink;
  &:hover {
    opacity: 75%;
  }
}

.disabled {
  background-color: gray;
  cursor: not-allowed;
}