{{define "styles"}}
<style>
    .container {
      display: flex;
      justify-content: center;
      margin: 2rem;
      height: 100vh;
    }

    .buttons {
      display: flex;
      justify-content: flex-end;
      width: 100%;
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
</style>
{{template "text-input-styles" .}}
{{template "button-styles" .}}
{{template "form-header-styles" .}}
{{end}}


{{define "content"}}
<div class="container">
    {{template "forgotPasswordEmailForm" .}}
</div>
{{end}}
