
{{define "styles"}}
	<style>
		.container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 100vh;
		}

		.gg-lock-unlock {
			box-sizing: border-box;
			position: relative;
			display: block;
			transform: scale(var(--ggs,1));
			width: 12rem;
			height: 6rem;
			border: 2rem solid;
			border-top-right-radius: 100rem;
			border-top-left-radius: 100rem;
			border-bottom: transparent;
			margin-top: -18rem;
			margin-left: -2rem;
			color: #b4b4b4;
		}

		.gg-lock-unlock::after,
		.gg-lock-unlock::before {
			content: "";
			display: block;
			box-sizing: border-box;
			position: absolute;
			color: #b4b4b4;
		}

		.gg-lock-unlock::after {
			border: 2rem solid transparent;
			box-shadow: 0 0 0 2rem;
			width: 16rem;
			height: 10rem;
			border-radius: 2rem;
			left: -4rem;
			top: 10rem;
			color: #b4b4b4;
		}

		.gg-lock-unlock::before {
			width: 2rem;
			height: 6rem;
			background: currentColor;
			left: -2rem;
			top: 4rem;
			color: #b4b4b4;
		} 
	</style>
{{end}}


{{define "content"}}
	<div class="container">
		<div hx-trigger="load delay:1s"
			 hx-post="/authSuccessful"
			 class="gg-lock-unlock"></div>
	</div>
{{end}}
