{{define "styles"}}
<style>

	.stats-text {
		color: white;
	}

    .gif {
      position: relative;
    }

    .upper-buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #0a2938;
      border-radius: 2rem;
      height: 5rem;
      margin-top: 2rem;
      margin-left: 2rem;
      margin-right: 2rem;
    }

    .lower-buttons {
      display: flex;
      justify-content: space-between;
	  align-items: center;
      margin: 2rem;
    }

    .exercise-measurement-text {
      color: white;
      background-color: #0a2938;
      font-size: 1.5rem;
      width: 3rem;
      border-width: 0;
      text-align: center;
    }

    .exercise-measurement-time {
      height: 3.5rem;
      width: 9rem;
      font-size: 2rem;
      border-radius: 1.5rem;
      border-width: .1rem;
	  text-align: center;
	  color: #c2c2c2;
	  background-color: #36393F;
    }

    .tool-bar {
      display: flex;
      background-color: black;
      justify-content: end;
      align-items: center;
      height: 3rem;
    }

    .authenticate-button {
      color: white;
      font-weight: bold;
      padding-right: 1rem;
      cursor: pointer;
    }

    .spacer {
      width: 1rem;
    }

    .loading-rect {
        color: white;
        background-color: blue;
        top: 0;
        left: 0;
        width: 100vw;
        height: 55vh;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 1
    }

    .loading-text {
      scale: 2;
      animation: tilt-n-move-shaking 0.35s infinite;
      font-family: "Comic Sans MS", serif;
    }

    .giphy-embed {
        width: 100vw;
        height: 55vh;
    }

    .giphy-link {
        color: white;
        margin-left: .5rem;
    }

    @keyframes tilt-n-move-shaking {
      0% {
        transform: translate(0, 0) rotate(0deg);
      }
      25% {
        transform: translate(.1rem, .1rem) rotate(5deg);
      }
      50% {
        transform: translate(0, 0) rotate(0deg);
      }
      75% {
        transform: translate(-.1rem, .1rem) rotate(-5deg);
      }
      100% {
        transform: translate(0, 0) rotate(0deg);
      }
    }

	.gg-play-button-o {
		box-sizing: border-box;
		position: relative;
		display: block;
		transform: scale(var(--ggs,1));
		width: 2.75rem;
		height: 2.75rem;
		border: 0.25rem solid;
		border-radius: 2.5rem;
		color: #42ff00;
	}

	.gg-play-button-o::before {
		content: "";
		display: block;
		box-sizing: border-box;
		position: absolute;
		width: 0;
		height: 1.25rem;
		border-top: 0.625rem solid transparent;
		border-bottom: 0.625rem solid transparent;
		border-left: 0.75rem solid;
		top: 0.5rem;
		left: 0.875rem;
		color: #42ff00;
	}
	
</style>
{{template "button-styles" .}}
{{end}}

{{define "content"}}
<div class="tool-bar">
  <div hx-trigger="click"
       hx-post="/logout"
       class="authenticate-button">
    logout
  </div>
</div>
<div class="gif">
    <iframe src="https://giphy.com/embed/{{ .Exercise.DemonstrationGiphyId }}"
            title="giphy-gif"
            frameBorder="0"
            class="giphy-embed"
            allowFullScreen>
    </iframe>
    <div class="loading-rect htmx-indicator">
        <div class="loading-text">... Loading ...</div>
    </div>
</div>
</div>
<a href="https://giphy.com/gifs/{{ .Exercise.DemonstrationGiphyId }}"
    class="giphy-link">
    via GIPHY
</a>

{{ if .SelectMode }}
    <div class="lower-buttons">
		<form id="{{.No.Id}}"
		 	  hx-put="/exercise?progressIndex={{.ProgressIndex}}" 
			  hx-target="body"> 
            {{template "button-content" .No }}
        </form>
		<div class="stats-text">
			<p>Focus: {{.Exercise.FocusMuscleGroup}}</p>
		</div>
        <form id="{{.Yes.Id}}"
              hx-get="/exercise" 
              hx-push-url="true" 
              hx-target="body">
            <input type="hidden" name="progressIndex" value="{{.NextProgressIndex}}">
            {{template "button-content" .Yes }}
        </form>
    </div>
{{ else }}
    <div class="upper-buttons">
        <div class="button-spacer"></div>
        <select id="measurement" class="exercise-measurement-time"
               name="lastCompletedMeasurement" 
               value="{{.Exercise.LastCompletedMeasurement}}">
            {{range .TimeOptions}}
			<option value="{{.Value}}" {{ if eq $.Exercise.LastCompletedMeasurement .Value }}selected{{ end }}>{{.Label}}</option>
            {{end}}
        </select>
		<div class="gg-play-button-o"></div>
        <div class="button-spacer"></div>
    </div>
    <div class="lower-buttons">
		<div class="stats-text">
			<p>Focus: {{.Exercise.FocusMuscleGroup}}</p>
			<p>Set: {{.CurrentSet}}
		</div>
        <form hx-post="/exercise?progressIndex={{.NextProgressIndex}}" 
              hx-push-url="true" 
			  hx-include="#measurement"
              hx-target="body">
            {{template "button-content" .Complete }}
        </form>
    </div>
{{ end }}

{{end}}
