{{define "styles"}}
<style>
    .exercise-measurement {
      font-size: 1.5rem;
    }

    .tool-bar {
      display: flex;
      background-color: black;
      justify-content: end;
      align-items: center;
      height: 3rem;
    }

    .authenticate-button {
      color: white;
      font-weight: bold;
      padding-right: 1rem;
      cursor: pointer;
    }

    .loading-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 10rem;
    }

    .spacer {
      width: 1rem;
    }

    .loading-text {
      scale: 2;
      animation: tilt-n-move-shaking 0.35s infinite;
      font-family: "Comic Sans MS", serif;
    }

    .giphy-link {
        color: "white";
    }

    @keyframes tilt-n-move-shaking {
      0% {
        transform: translate(0, 0) rotate(0deg);
      }
      25% {
        transform: translate(.1rem, .1rem) rotate(5deg);
      }
      50% {
        transform: translate(0, 0) rotate(0deg);
      }
      75% {
        transform: translate(-.1rem, .1rem) rotate(-5deg);
      }
      100% {
        transform: translate(0, 0) rotate(0deg);
      }
    }
    {{template "button-styles" .}}
</style>
{{end}}

{{define "content"}}
<div class="tool-bar">
  <div hx-trigger="click"
       hx-post="/logout"
       class="authenticate-button">
    logout
  </div>
</div>
<div class"container">
    <div style="display: none;">
        <div class="gif-container">
            <div class="gif">
                <div style={
                    top: 0,
                    left: 0,
                    width: "100vw",
                    height: "55vh",
                    position: "absolute"
                }></div>
                <iframe src="https://giphy.com/embed/{{ .DemonstrationGiphyId }}"
                        title="giphy-gif"
                        style={
                            width: "100vw",
                            height: "55vh",
                        }
                        frameBorder="0"
                        class="giphy-embed"
                        onLoad={handleIframeLoad}
                        allowFullScreen>
                </iframe>
            </div>
            <p class="giphy-link">
            <a href="https://giphy.com/gifs/{{ .DemonstrationGiphyId }}">
                    via GIPHY
                </a>
            </p>
            <div class="buttons">
                {{template "button-content" .Cool }}
                {{template "button-content" .Hot }}
                <div class="exercise-measurement no-select">
                    {displayMeasurement}
                </div>
                <div class="button-spacer"/>
            </div>
        </div>
        <div class"buttons">
            {{template "button-content" .No }}
            {{template "button-content" .Yes }}
            {{template "button-content" .Complete }}
        </div>
    </div>
</div>
</div>
<div class="loading-container"
     class="htmx-indicator">
    <div class="spacer">
    <div class="loading-text">... Loading ...</div>
</div>
{{end}}
