{{define "styles"}}
<style>

    .gif {
      position: relative;
    }

    .upper-buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #0a2938;
      border-radius: 2rem;
      height: 5rem;
      margin-top: 2rem;
      margin-left: 2rem;
      margin-right: 2rem;
      width: 100%;
    }

    .lower-buttons {
      display: flex;
      justify-content: space-between;
      margin: 2rem;
    }

    .exercise-measurement-text {
      color: white;
      background-color: #0a2938;
      font-size: 1.5rem;
      width: 3rem;
      border-width: 0;
      text-align: center;
    }

    .exercise-measurement-time {
      height: 3.5rem;
      width: 6rem;
      font-size: 2rem;
      border-radius: 1.5rem;
      border-width: .2rem;
    }

    .tool-bar {
      display: flex;
      background-color: black;
      justify-content: end;
      align-items: center;
      height: 3rem;
    }

    .authenticate-button {
      color: white;
      font-weight: bold;
      padding-right: 1rem;
      cursor: pointer;
    }

    .spacer {
      width: 1rem;
    }

    .loading-rect {
        color: white;
        background-color: blue;
        top: 0;
        left: 0;
        width: 100vw;
        height: 55vh;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 1
    }

    .loading-text {
      scale: 2;
      animation: tilt-n-move-shaking 0.35s infinite;
      font-family: "Comic Sans MS", serif;
    }

    .giphy-embed {
        width: 100vw;
        height: 55vh;
    }

    .giphy-link {
        color: white;
        margin-left: .5rem;
    }

    @keyframes tilt-n-move-shaking {
      0% {
        transform: translate(0, 0) rotate(0deg);
      }
      25% {
        transform: translate(.1rem, .1rem) rotate(5deg);
      }
      50% {
        transform: translate(0, 0) rotate(0deg);
      }
      75% {
        transform: translate(-.1rem, .1rem) rotate(-5deg);
      }
      100% {
        transform: translate(0, 0) rotate(0deg);
      }
    }
</style>
{{template "button-styles" .}}
{{end}}

{{define "content"}}
<div class="tool-bar">
  <div hx-trigger="click"
       hx-post="/logout"
       class="authenticate-button">
    logout
  </div>
</div>
<div class="gif">
    <iframe src="https://giphy.com/embed/{{ .Exercise.DemonstrationGiphyId }}"
            title="giphy-gif"
            frameBorder="0"
            class="giphy-embed"
            allowFullScreen>
    </iframe>
    <div class="loading-rect htmx-indicator">
        <div class="loading-text">... Loading ...</div>
    </div>
</div>
</div>
<a href="https://giphy.com/gifs/{{ .Exercise.DemonstrationGiphyId }}"
    class="giphy-link">
    via GIPHY
</a>

{{ if .SelectMode }}
    <div class="lower-buttons">
        <form hx-put="/exercise" hx-target="body"> 
            <input type="hidden" name="exerciseId" value="{{.Exercise.Id}}">
            {{template "button-content" .No }}
        </form>
        <form id="{{.Yes.Id}}"
              hx-get="/exercise" 
              hx-push-url="true" 
              hx-target="body">
            <input type="hidden" name="progressIndex" value="{{.NextProgressIndex}}">
            {{template "button-content" .Yes }}
        </form>
    </div>
{{ else }}
    <div class="upper-buttons">
        {{template "button-content" .Cool }}
        <input class="exercise-measurement-text"
               name="lastCompletedMeasurement" 
               type="number"
               _="on focus call me.select()
                  on blur call me.blur()"
               value="{{.Exercise.LastCompletedMeasurement}}">
        <select class="exercise-measurement-time"
               name="lastCompletedMeasurement" 
               value="{{.Exercise.LastCompletedMeasurement}}">
            <option>3:48</option>
            <option>2:39</option>
            <option>2:47</option>
            <option>2:47</option>
            <option>2:47</option>
            <option>2:47</option>
            <option>2:47</option>
            <option>2:47</option>
            <option>2:47</option>
            <option>2:47</option>
            <option>2:47</option>
            <option>2:47</option>
            <option>2:47</option>
            <option>2:47</option>
            <option>2:47</option>
            <option>2:47</option>
            <option>3:47</option>
            <option>2:47</option>
            <option>2:47</option>
            <option>2:47</option>
            <option>2:47</option>
            <option>2:47</option>
            <option>2:47</option>
            <option>2:47</option>
            <option>2:47</option>
            <option>2:47</option>
            <option>2:47</option>
            <option>2:47</option>
            <option>2:47</option>
            <option>2:47</option>
            <option>2:47</option>
            <option>2:47</option>
            <option>2:47</option>
        </select>
        <div class="button-spacer"></div>
        {{template "button-content" .Hot }}
    </div>
    <div class="lower-buttons">
        <div class="spacer"></div>
        <form hx-post="/exercise" hx-push-url="true" hx-target="body">
            <input type="hidden" name="exerciseId" value="{{.Exercise.Id}}">
            <input type="hidden" name="progressIndex" value="{{.NextProgressIndex}}">
            {{template "button-content" .Complete }}
        </form>
    </div>
{{ end }}

{{end}}
