{{define "forgotPasswordNewPasswordForm" }}
<form hx-post="/forgotPassword/newPassword?email={{.Email.Value}}&resetCode={{.ResetCode.Value}}"
      hx-swap="outerHTML"
      hx-disabled-elt="input, button">
    {{template "form-header-content" "New Password"}}
    {{template "text-input-content" .NewPassword}}
    {{template "text-input-content" .PasswordMatch}}
    <div class="buttons">
        {{template "button-content" .Submit }}
    </div>
    <div class="spacer"></div>
    <div class="error-response-message">
        <div>{{ .NewPassword.ErrorMsg }}</div>
        <div>{{ .PasswordMatch.ErrorMsg }}</div>
    </div>
</form>
{{end}}
