{{define "forgotPasswordResetCodeForm" }}
<form hx-post="/forgotPassword/resetCode?email={{.Email.Value}}"
      hx-swap="outerHTML"
      hx-disabled-elt="input, button"
      class="content">
    {{template "form-header-content" "Reset Password"}}
    <p class="email-sent-message">
        If your email <b>{{.Email.Value}}</b> exists in our system, you will
            receive a reset code shortly.
    </p>
    {{template "text-input-content" .ResetCode}}
    <div class="buttons">
        {{template "button-content" .Submit }}
    </div>
    <div class="spacer"></div>
    <div class="error-response-message">
        <div>{{ .ResetCode.ErrorMsg }}</div>
    </div>
</form>
{{end}}
