.container {
  color: white;
}

.bottom-wheels {
  position: absolute;
  top: 50%;
}

.left-wheel {
  left: 30%;
}

.top-wheel {
  position: absolute;
  top: 20%;
  left: 42.5%;
}

.right-wheel {
  left: 55%;
}